* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.fast__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    height: 110px;
    padding: 0.75rem 3.75rem;
}

.fast__navbar_logo {
    display: flex;
    align-items: center;
    margin-left: 9rem;
    margin-right: 4rem;
    max-width: 110px;
}

.fast__navbar_logo img {
    width: 115px;
    transition: 0.4s;
}

.fast__navbar_logo img:hover {
    width: 132px;
}

.fast__navbar_links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    /* max-width: 750px; */
    /* margin-left: -41px; */
}

.fast__navbar_links p a {
    margin: 0 1rem;
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    transition: 0.3s;
}

.fast__navbar_links p a:hover {
    color: rgb(245, 70, 70);
}

.fast__navbar_buttons {
    display: flex;
    margin-right: 120px;
    margin-left: 25px;
    /* max-width: 295px; */
}

.fast__navbar_buttons button{
    border: none;
    margin: 0 1rem;
    align-self: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 5px;
}

#report {
    font-family: var(--font-family);
    color: var(--color-text);
    transition: 0.4s;
}

#report:hover {
    background: #525557;
    color: #fff;
}

#contact {
    background: rgb(255,41,41);
    color: #fff;
    font-family: var(--font-family);
}

#contact:hover {
    background: rgb(255,74,74);
}

.fast__header {
    background-image: url('../imgs/bg_1.jpg');
    background-color: transparent;
    /* background-color: var(--color-secondary); */
}

.fast__header h1 {
    color: #fff;
}

.fast__header h2 {
    color: #fff;
}